body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f7fac7 45%, #77fa88);
    mix-blend-mode: soft-light;
    pointer-events: none; 
}

main{
    display: flex;
}

.round{
    border: 1px solid;
    border-radius: 50%;
}

button:hover{
    background-color: rgb(191, 191, 191); 
}

#canvas{
    border-radius: 10px;
    box-shadow: 0px 0px 15px;
    margin-top: 10px;
    background-color: #fff;
}

/* left side --------------------------------------------------------------------------------------

/* color-box */
#color-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
}
.wheel{
    width: 22%;
    position: absolute;
}
#wheel1{
    animation: rotate1 80s infinite linear;
}
#wheel2{
    transform: rotate(30deg);
    animation: rotate2 80s infinite linear;
}
#wheel3{
    transform: rotate(60deg);
    animation: rotate3 80s infinite linear;
}
#wheel4{
    transform: rotate(90deg);
    animation: rotate4 80s infinite linear;
}
#wheel5{
    transform: rotate(120deg);
    animation: rotate5 80s infinite linear;
}
#wheel6{
    transform: rotate(150deg);
    animation: rotate6 80s infinite linear;
}
@keyframes rotate1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotate2{
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(390deg);
    }
}
@keyframes rotate3{
    0%{
        transform: rotate(60deg);
    }
    100%{
        transform: rotate(420deg);
    }
}
@keyframes rotate4{
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(450deg);
    }
}
@keyframes rotate5{
    0%{
        transform: rotate(120deg);
    }
    100%{
        transform: rotate(480deg);
    }
}
@keyframes rotate6{
    0%{
        transform: rotate(150deg);
    }
    100%{
        transform: rotate(510deg);
    }
}

/* color-button */
.color-button{
    height: 35px;
    width: 15%;
    border: none;
    border-radius: 50%;
}
#rainbow{
    height: 35px;
    width: 10%;
    border: none;
    border-radius: 60%;
    position: absolute;
}
#b-p{
    background: #8a2be2;
    box-shadow: 0px 2px 5px #531988;
}
#o-y{
    float: right;
    background: #ffae42;
    box-shadow: 0px 2px 5px #ce8b34;
}
#pur{
    background: purple;
    box-shadow: 0px 2px 5px rgb(58, 0, 58);
}
#yel{
    float: right;
    background: yellow;
    box-shadow: 0px 2px 5px rgb(214, 214, 29);
}
#p-r{
    background: #800040;
    box-shadow: 0px 2px 5px #4e0027;
}
#y-g{
    float: right;
    background: #9acd32;
    box-shadow: 0px 2px 5px #749e20;
}
#red{
    background: red;
    box-shadow: 0px 2px 5px rgb(158, 0, 0);
}
#gre{
    float: right;
    background: green;
    box-shadow: 0px 2px 5px rgb(6, 92, 6);
}
#r-o{
    background: #ff4500;
    box-shadow: 0px 2px 5px #b43000;
}
#g-b{
    float: right;
    background: #11b4b3;
    box-shadow: 0px 2px 5px #167a7a;
}
#ora{
    background: orange;
    box-shadow: 0px 2px 5px rgb(172, 112, 0);
}
#blu{
    float: right;
    background: blue;
    box-shadow: 0px 2px 5px rgb(0, 0, 156);
}

/* text-box */
#text-box{
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
}
#text{
    width: 80px;
    height: 30px;
}
#textsize-box{
    display: flex;
    width: 120px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.textsizebox{
    height: 30px;
    width: 30px;
    border-radius: 10%;
    margin: 10px;
}

/* text-style */
#text-style{
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
}
input[id="style"]{
    position: relative;
    width: 50%;
    height: 50%;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: insert 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
input:checked[id="style"]{
    background: #03a9f4;
}
input[id="style"]::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
input:checked[id="style"]::before{
    left: 60%;
}

/* option-box */
#opt-box{
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
}
input[type="file"] {
    display: none;
}

/* right side -------------------------------------------------------------------------------------

/* pen-box */
#pen-box{
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.penbox{
    width:  12%;
    height: 40%;
    margin: 3%;
}


/* size-container */
#size-container{
    display: flex;
    height:20%;
    align-items: center;
    justify-content: center;
}
#size-box{
    width: 200px;
    height: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
    position: relative; 
    background-color: blue
}
#loading{
    width: 0px;
    height: 15px;
    position: absolute;
    background: gold;
}
#control{
    top: -10px;
    width: 20px;
    height: 35px;
    position: absolute;
    background: green;
    border-radius: 10px;
    display: block;
}
#size-text{
    top: 10px;
    width: 100px;
    height: 15px;
    line-height: 15px;
    font-size: 22px;
    position: absolute;
}

/* clean-box */
#clean-box{
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.cleanbox{
    width: 15%;
    height: 45%;
    margin: 5%;
}

/* shape-box */
#shape-box{
    display: flex;
    height: 25%;
    align-items: center;
    justify-content: center;
}
.shapebox{
    width: 15%;
    height: 40%;
    margin: 3%;
}

/* fill-box */
#fill-box{
    display: flex;
    height: 15%;
    align-items: center;
    justify-content: center;
}
input[id="fill"]{
    position: relative;
    width: 50%;
    height: 50%;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: insert 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
input:checked[id="fill"]{
    background: #03a9f4;
}
input[id="fill"]::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}
input:checked[id="fill"]::before{
    left: 60%;
}